<!DOCTYPE html> 
<html> 
<head> 
    <title>Home Page</title> 
    <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body>
      <table>
            <tr><td rowspan="8"><img src="http://www.vce.ac.in/img/vlogo.gif" height='100' width='100'/></td><td><h1>Vasavi College of Engineering</h1></td></tr>
    </table>
    <form action="/storeCO" method="POST">
<table>
        <tr><th>CO</th><th>Description</th></tr>
        <tr>1</tr><td><input type="text" name="co1"/></td>
        <tr>2</tr><td><input type="text" name="co2"/></td>
        <tr>3</tr><td><input type="text" name="co3"/></td>
        <tr>4</tr><td><input type="text" name="co4"/></td>
        <tr>5</tr><td><input type="text" name="co5"/></td>
</table>
<input type="submit" />
</form>
</body>
</html>
