<!DOCTYPE html>
<html>
    <body>
        <form action="ss" method="post">
            <h1>Course Outcomes</h1>
           
            <table><tr><th>STUDENT</th><th>Q1</th><th>Q2</th><th>Q3</th></tr><tr><td></td>
        <script>
            for (let i=0;i<3;i++)
           {
              let s="course_outcomes"+i;
              document.write(s);
             document.write("<td><select name="+s+"><option value=\"1\">CO1</option><option value=\"2\">CO2</option><option value=\"3\">CO3</option><option value=\"4\">CO4</option><option value=\"5\">CO5</option></select></td>");
           }
        </script>
        </tr>
        <% data.name.forEach((item)=>{%> 
            <tr>
            <td><%=item%></td>  
            <script>
            for(let i=0;i<3;i++)
                {
                 let s=<%=item%>+i;
                 console.log(s);
                 document.write("<td><input type=\"text\" name="+s+" id="+s+"/></td>");
                }
            </script>
            </tr>
            <%});%> 
        </table>
        <input type="submit" id="btn" value="submit"/>
        </form>
    </body>
</html>

